html {
  background-image: url("https://wallpaperaccess.com/full/391977.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center center;
}

body {
  flex-direction: column;
  padding: 2em;
  height: 100vh;
  background: rgba(255, 255, 255, 0.616);
}

ul {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 1em;
}

li.item {
  border-radius: 0.5em;
  padding: 1em;
  background-color: #fff;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  transition: all 150ms;
  box-shadow: #0005 0 0.5em 1em;
  
}

li.item a {
  color:#5C6C88;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  outline: none;
}

li.item .title {
  font-size: 1.2em;
  color: #424d61;
}

li.item .subtitle {
  font-weight: lighter;
}

a i{
  align-self: center;
}

a i::before {
  font-size: 3.2em;
  margin: 0 0.2em;
  transition: all 150ms;
}

li.item:hover i::before, li.item:focus-within i::before {
  color: #f3a506;
  transform: rotate(90deg);
}

li.item:hover, li.item:focus-within{
  background-color: #efefef;
}

h6.credits {
  position: absolute;
  bottom: 1em;
  right: 2em;
}

div.stacked {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.scroll-list {
  overflow-y: auto;
  flex: 1;
  margin-bottom: 2em;
}

/*  For Webkit Browsers (Chome, New Edge, Safari) */
.scroll-list::-webkit-scrollbar {
  width: 1ch; /* width of the entire scrollbar */
}

.scroll-list::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.scroll-list::-webkit-scrollbar-thumb {
  background-color: #5C6C88AA; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}

@media (min-width: 1200px) {
  ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  h6.credits {
    left: 2em;
    bottom: 0.5rem;
  }

  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  h6.credits {
    left: 2em;
    bottom: 0.5rem;
  }

  ul {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .scroll-list {
    margin-bottom: 3em;
  }
}
