html {
  background-image: url("https://wallpaperaccess.com/full/391977.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center center;
}

body {
  flex-direction: column;
  padding: 2em;
  height: 100vh;
  background: rgba(255, 255, 255, 0.616);
}

a.item {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  transition: all 150ms;
}

a i::before {
  margin: 0 0.2em;
  transition: all 150ms;
}

a:hover i::before {
  color: #f3a506;
  transform: rotate(90deg);
}

a.item:hover {
  background-color: #efefefef;
  padding-left: 1.2em;
}

h6.credits {
  position: absolute;
  bottom: 1em;
  right: 2em;
}

div.stacked {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

ul.scroll-list {
  overflow-y: auto;
  flex: 1;
  margin-bottom: 2em;
}

/*  For Webkit Browsers (Chome, New Edge, Safari) */
ul.scroll-list::-webkit-scrollbar {
  width: 2ch; /* width of the entire scrollbar */
}

ul.scroll-list::-webkit-scrollbar-track {
  background: #A9ABB0; /* color of the tracking area */
}

ul.scroll-list::-webkit-scrollbar-thumb {
  background-color: #5C6C88; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #A9ABB0; /* creates padding around scroll thumb */
}

@media (max-width: 768px) {
  h6.credits {
    left: 2em;
    bottom: 0.5rem;
  }
}
