body {
  background: #efefef;
}

#mapa {
  width: 100%;
  height: calc(100vh - 10%);
}

h2.title {
  margin-bottom: 1em;
  text-align: center;
}

li.list-group-item {
  transition: background 200ms;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

li.list-group-item h4 {
  margin-bottom: 0;
  width: auto;
}

li.list-group-item:hover {
  background-color: rgb(228, 248, 232);
  cursor: pointer;
}

li.list-group-item::before {
  content: "֎";
  margin: calc((1.275rem + 0.3vw)*.2);
  font-size: calc(1.275rem + 0.3vw);
  transition: transform 800ms;
}

li.list-group-item.active::before {
  transform: rotate(360deg);
}

li.active.list-group-item {
  background-color: green;
  border: green;
}

.infoImage {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  min-width: 300px;
}

.infoImage + h2 {
  margin-top: 8px;
}

@media (max-width: 992px) {
  #mapa {
    height: 600px;
  }
}
